# Introduction

Since Jan. 1, 2015, [The Washington Post](https://www.washingtonpost.com/) has been compiling a database of every fatal shooting in the US by a police officer in the line of duty. 

<center><img src=https://i.imgur.com/sX3K62b.png></center>

While there are many challenges regarding data collection and reporting, The Washington Post has been tracking more than a dozen details about each killing. This includes the race, age and gender of the deceased, whether the person was armed, and whether the victim was experiencing a mental-health crisis. The Washington Post has gathered this supplemental information from law enforcement websites, local new reports, social media, and by monitoring independent databases such as "Killed by police" and "Fatal Encounters". The Post has also conducted additional reporting in many cases.

There are 4 additional datasets: US census data on poverty rate, high school graduation rate, median household income, and racial demographics. [Source of census data](https://factfinder.census.gov/faces/nav/jsf/pages/community_facts.xhtml).

# Importing Necessary Modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from collections import Counter
import us

## Notebook Presentation

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

## Load the Data

In [3]:
df_hh_income = pd.read_csv(
    'Median_Household_Income_2015.csv', encoding="windows-1252")
df_pct_poverty = pd.read_csv(
    'Pct_People_Below_Poverty_Level.csv', encoding="windows-1252")
df_pct_completed_hs = pd.read_csv(
    'Pct_Over_25_Completed_High_School.csv', encoding="windows-1252")
df_share_race_city = pd.read_csv(
    'Share_of_Race_By_City.csv', encoding="windows-1252")
df_fatalities = pd.read_csv('Deaths_by_Police_US.csv', encoding="windows-1252")

# Preliminary Data Exploration

* What is the shape of the DataFrames? 
* How many rows and columns do they have?
* What are the column names?
* Are there any NaN values or duplicates?

In [4]:
print(f"Shape of dataframes are:")
print(
    f"\n\nHouseHold Income DataFrame (df_hh_income) shape:\n(row, columns): {df_hh_income.shape}")
print(
    f"\n\nPoverty DataFrame (df_pct_poverty) shape:\n(row, columns): {df_pct_poverty.shape}")
print(
    f"\n\nHigh School Completion DataFrame (df_pct_completed_hs) shape:\n(row, columns): {df_pct_completed_hs.shape}")
print(
    f"\n\nShare of city by Race DateFrame (df_share_race_city):\n(row, columns): {df_share_race_city.shape}")
print(
    f"\n\nDeath by Police DataFrame (df_fatalities):\n(row, columns): {df_fatalities.shape}")

Shape of dataframes are:


HouseHold Income DataFrame (df_hh_income) shape:
(row, columns): (29322, 3)


Poverty DataFrame (df_pct_poverty) shape:
(row, columns): (29329, 3)


High School Completion DataFrame (df_pct_completed_hs) shape:
(row, columns): (29329, 3)


Share of city by Race DateFrame (df_share_race_city):
(row, columns): (29268, 7)


Death by Police DataFrame (df_fatalities):
(row, columns): (2535, 14)

In [5]:
print("Column Names of DataFrames are:")
print(
    f"\n\nHouseHold Income DataFrame (df_hh_income) columns:\n {df_hh_income.columns}")
print(
    f"\n\nPoverty DataFrame (df_pct_poverty) columns:\n {df_pct_poverty.columns}")
print(
    f"\n\nHigh School Completion DataFrame (df_pct_completed_hs) columns:\n {df_pct_completed_hs.columns}")
print(
    f"\n\nShare of city by Race DataFrame (df_share_race_city):\n {df_share_race_city.columns}")
print(
    f"\n\nDeath by Police DataFrame (df_fatalities):\n {df_fatalities.columns}")

Column Names of DataFrames are:


HouseHold Income DataFrame (df_hh_income) columns:
 Index(['Geographic Area', 'City', 'Median Income'], dtype='object')


Poverty DataFrame (df_pct_poverty) columns:
 Index(['Geographic Area', 'City', 'poverty_rate'], dtype='object')


High School Completion DataFrame (df_pct_completed_hs) columns:
 Index(['Geographic Area', 'City', 'percent_completed_hs'], dtype='object')


Share of city by Race DataFrame (df_share_race_city):
 Index(['Geographic area', 'City', 'share_white', 'share_black',
       'share_native_american', 'share_asian', 'share_hispanic'],
      dtype='object')


Death by Police DataFrame (df_fatalities):
 Index(['id', 'name', 'date', 'manner_of_death', 'armed', 'age', 'gender',
       'race', 'city', 'state', 'signs_of_mental_illness', 'threat_level',
       'flee', 'body_camera'],
      dtype='object')

In [6]:
print("Calculating NaN values in each DataFrame:")
print(
    f"\n\nHouseHold Income DataFrame (df_hh_income) NaN values:\n{df_hh_income.isna().sum()}")
print(
    f"\n\nPoverty DataFrame (df_pct_poverty) NaN values:\n{df_pct_poverty.isna().sum()}")
print(
    f"\n\nHigh School Completion DataFrame (df_pct_completed_hs) NaN values:\n{df_pct_completed_hs.isna().sum()}")
print(
    f"\n\nShare of City Race DataFrame (df_share_race_city): NanValues:\n{df_share_race_city.isna().sum()}")
print(
    f"\n\nDeath by Police DataFrame (df_fatalities): NanValues:\n{df_fatalities.isna().sum()}")

Calculating NaN values in each DataFrame:


HouseHold Income DataFrame (df_hh_income) NaN values:
Geographic Area     0
City                0
Median Income      51
dtype: int64


Poverty DataFrame (df_pct_poverty) NaN values:
Geographic Area    0
City               0
poverty_rate       0
dtype: int64


High School Completion DataFrame (df_pct_completed_hs) NaN values:
Geographic Area         0
City                    0
percent_completed_hs    0
dtype: int64


Share of City Race DataFrame (df_share_race_city): NanValues:
Geographic area          0
City                     0
share_white              0
share_black              0
share_native_american    0
share_asian              0
share_hispanic           0
dtype: int64


Death by Police DataFrame (df_fatalities): NanValues:
id                           0
name                         0
date                         0
manner_of_death              0
armed                        9
age                         77
gender                       0
race                       195
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        65
body_camera                  0
dtype: int64

In [7]:
print("Calculating Duplicate values in each DataFrame:")
print(
    f"\n\nHouseHold Income DataFrame (df_hh_income) Duplicate values:\n{df_hh_income.duplicated().sum()}")
print(
    f"\n\nPoverty DataFrame (df_pct_poverty) Duplicate values:\n{df_pct_poverty.duplicated().sum()}")
print(
    f"\n\nHigh School Completion DataFrame (df_pct_completed_hs) Duplicate values:\n{df_pct_completed_hs.duplicated().sum()}")
print(
    f"\n\nShare of City Race DataFrame(df_share_race_city) Duplicate values:\n{df_share_race_city.duplicated().sum()}")
print(
    f"\n\nDeath by Police DataFrame (df_fatalities) Duplicate values:\n{df_fatalities.duplicated().sum()}")

Calculating Duplicate values in each DataFrame:


HouseHold Income DataFrame (df_hh_income) Duplicate values:
0


Poverty DataFrame (df_pct_poverty) Duplicate values:
0


High School Completion DataFrame (df_pct_completed_hs) Duplicate values:
0


Share of City Race DataFrame(df_share_race_city) Duplicate values:
0


Death by Police DataFrame (df_fatalities) Duplicate values:
0

## <b style="color: green"> There are no duplicated values. </b>

## <b style="color: orange"> But there are NaN values many places, let's see what we can do about that </b>

In [8]:
# First house hold income
df_hh_income[df_hh_income.isna().any(axis=1)].count()

Geographic Area    51
City               51
Median Income       0
dtype: int64

In [9]:
# Here we can drop NaN values rows because they are the important columns, so we can't fill them with any values
df_hh_income.dropna(inplace=True)
df_hh_income.isna().sum()

Geographic Area    0
City               0
Median Income      0
dtype: int64

In [10]:
df_fatalities.isna().sum()

id                           0
name                         0
date                         0
manner_of_death              0
armed                        9
age                         77
gender                       0
race                       195
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        65
body_camera                  0
dtype: int64

In [11]:
# Let's deal with df_fatalities
df_fatalities[df_fatalities.isna().any(axis=1)]

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
59,110,William Campbell,25/01/15,shot,gun,59.00,M,NaN,Winslow,NJ,False,attack,Not fleeing,False
124,584,Alejandro Salazar,20/02/15,shot,gun,NaN,M,H,Houston,TX,False,attack,Car,False
241,244,John Marcell Allen,30/03/15,shot,gun,54.00,M,NaN,Boulder City,NV,False,attack,Not fleeing,False
266,534,Mark Smith,09/04/15,shot and Tasered,vehicle,54.00,M,NaN,Kellyville,OK,False,attack,Other,False
340,433,Joseph Roy,07/05/15,shot,knife,72.00,M,NaN,Lawrenceville,GA,True,other,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528,2812,Alejandro Alvarado,27/07/17,shot,knife,NaN,M,H,Chowchilla,CA,False,attack,Not fleeing,False
2529,2819,Brian J. Skinner,28/07/17,shot,knife,32.00,M,NaN,Glenville,NY,True,other,Not fleeing,False
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.00,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.00,M,NaN,Melba,ID,False,attack,Car,False

### I really don't think we can replace any NaN value with a default value, because it will affect the analysis
### So, I will depending upon the analysis decide what to do with the NaN values

# Chart the Poverty Rate in each US State

Create a bar chart that ranks the poverty rate from highest to lowest by US state. Which state has the highest poverty rate? Which state has the lowest poverty rate?  Bar Plot

In [12]:
df_pct_poverty = df_pct_poverty.convert_dtypes()
df_pct_poverty = df_pct_poverty[-df_pct_poverty["poverty_rate"].str.contains("-")]
df_pct_poverty['poverty_rate'] = pd.to_numeric(df_pct_poverty["poverty_rate"])
df_pct_poverty

      Geographic Area                    City  poverty_rate
0                  AL              Abanda CDP         78.80
1                  AL          Abbeville city         29.10
2                  AL         Adamsville city         25.50
3                  AL            Addison town         30.70
4                  AL              Akron town         42.00
...               ...                     ...           ...
29324              WY  Woods Landing-Jelm CDP         18.60
29325              WY            Worland city         15.30
29326              WY             Wright town          5.90
29327              WY              Yoder town          5.40
29328              WY           Y-O Ranch CDP          0.00

[29128 rows x 3 columns]

In [13]:
poverty_by_state = (df_pct_poverty
                .groupby("Geographic Area")
                .agg({"poverty_rate": "mean"})
                .sort_values('poverty_rate')
)
poverty_by_state = poverty_by_state.reset_index()
poverty_by_state

   Geographic Area  poverty_rate
0               NJ          8.19
1               CT          9.14
2               MA          9.59
3               WY          9.89
4               MD         10.31
5               RI         10.37
6               NY         11.67
7               UT         11.98
8               ND         12.16
9               IA         12.29
10              NV         12.47
11              PA         12.52
12              DE         12.56
13              NH         12.66
14              WI         12.86
15              NE         12.98
16              CO         13.36
17              HI         13.40
18              MN         13.75
19              VT         13.79
20              IL         13.88
21              VA         14.59
22              KS         14.76
23              OH         14.85
24              WA         15.02
25              IN         15.50
26              SD         16.03
27              MT         16.51
28              OR         16.52
29              ME         16.89
30              CA         17.12
31              FL         17.57
32              MI         17.90
33              DC         18.00
34              ID         18.24
35              NC         19.75
36              AK         19.85
37              TN         19.89
38              TX         19.92
39              KY         20.08
40              MO         20.11
41              AL         20.65
42              OK         20.66
43              WV         21.13
44              SC         22.16
45              LA         22.34
46              AR         22.96
47              NM         23.08
48              GA         23.78
49              AZ         25.67
50              MS         26.88

In [14]:
def get_state_name(state_code):
    try:
        state_name = us.states.lookup(state_code).name
    except AttributeError as e:
        print(e)
        state_name = state_code
    return state_name

In [15]:
poverty_by_state["States"] = poverty_by_state["Geographic Area"].apply(get_state_name)

'NoneType' object has no attribute 'name'

In [17]:
poverty = px.bar(poverty_by_state, x="States", y="poverty_rate", title="Poverty Rate by State")
poverty.update_layout(xaxis={'categoryorder':'total descending'}, xaxis_title="State", yaxis_title="Poverty Rate")
poverty.show()